<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE60B66414EFA64100CF7151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE60B68B14EFA64100CF7151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA584DA7159C037200173134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
